In [ ]:
# Libraries

import pandas as pd
from sklearn import preprocessing
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
import torch
import torch.nn as nn # All neural network modules, nn.Linear, nn.Conv2d, BatchNorm, Loss functions
import torch.optim as optim # For all Optimization algorithms, SGD, Adam, etc.
import torch.nn.functional as F # All functions that don't have any parameters
from torch.utils.data import Dataset, DataLoader # Gives easier dataset managment and creates mini batches
import torchvision.datasets as datasets # Has standard datasets we can import in a nice and easy way
import torchvision.transforms as transforms # Transformations we can perform on our dataset
from sklearn.metrics import classification_report #For getting classification report, helps in evaluating the model

In [ ]:
# Fetching Data

df = pd.read_csv('train.csv')

In [ ]:
# Visualizing the first few records

df.head()

         ID  Loan Amount  ...  Total Revolving Credit Limit  Loan Status
0  65087372        10000  ...                          6619            0
1   1450153         3609  ...                         20885            0
2   1969101        28276  ...                         26155            0
3   6651430        11170  ...                         60214            0
4  14354669        16890  ...                         22579            0

[5 rows x 35 columns]

In [ ]:
# Understanding the datatypes

df.dtypes

ID                                int64
Loan Amount                       int64
Funded Amount                     int64
Funded Amount Investor          float64
Term                              int64
Batch Enrolled                   object
Interest Rate                   float64
Grade                            object
Sub Grade                        object
Employment Duration              object
Home Ownership                  float64
Verification Status              object
Payment Plan                     object
Loan Title                       object
Debit to Income                 float64
Delinquency - two years           int64
Inquires - six months             int64
Open Account                      int64
Public Record                     int64
Revolving Balance                 int64
Revolving Utilities             float64
Total Accounts                    int64
Initial List Status              object
Total Received Interest         float64
Total Received Late Fee         float64
Recoveries                      float64
Collection Recovery Fee         float64
Collection 12 months Medical      int64
Application Type                 object
Last week Pay                     int64
Accounts Delinquent               int64
Total Collection Amount           int64
Total Current Balance             int64
Total Revolving Credit Limit      int64
Loan Status                       int64
dtype: object

In [ ]:
# Identifying unique counts

df.nunique()

ID                              67463
Loan Amount                     27525
Funded Amount                   24548
Funded Amount Investor          67441
Term                                3
Batch Enrolled                     41
Interest Rate                   67448
Grade                               7
Sub Grade                          35
Employment Duration                 3
Home Ownership                  67454
Verification Status                 3
Payment Plan                        1
Loan Title                        109
Debit to Income                 67454
Delinquency - two years             9
Inquires - six months               6
Open Account                       36
Public Record                       5
Revolving Balance               20582
Revolving Utilities             67458
Total Accounts                     69
Initial List Status                 2
Total Received Interest         67451
Total Received Late Fee         67380
Recoveries                      67387
Collection Recovery Fee         67313
Collection 12 months Medical        2
Application Type                    2
Last week Pay                     162
Accounts Delinquent                 1
Total Collection Amount          2193
Total Current Balance           60901
Total Revolving Credit Limit    37708
Loan Status                         2
dtype: int64

In [6]:
#Dropping columns that provide no information about defaulters
df = df.drop(columns=['ID','Batch Enrolled'])

#Dropping columns with only 1 value
df = df.drop(columns=['Payment Plan','Accounts Delinquent'])

#Extracting the target variable
Y = df['Loan Status']
df = df.drop(columns=['Loan Status'])

In [7]:
#Categorical Variables
cat_var = ["Grade","Sub Grade","Employment Duration","Verification Status","Loan Title","Initial List Status",
           "Application Type",]
cat_df = df[cat_var]

#One hot encoding categorical values
cat_df = pd.get_dummies(cat_df)
cat_df.head(1)

   Grade_A  Grade_B  ...  Application Type_INDIVIDUAL  Application Type_JOINT
0        0        1  ...                            1                       0

[1 rows x 161 columns]

In [8]:
#Continuos Variables
conti_var = list(set(df.columns) - set(cat_var))
conti_df = df[conti_var]

#Normalizing values 
x = conti_df.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
conti_df = pd.DataFrame(x_scaled)

In [9]:
#Combining categorical and continuos variables
X = pd.concat([cat_df,conti_df],axis=1)

In [10]:
#Checking the shape on X and Y arrays
print(X.shape, Y.shape)

(67463, 184) (67463,)

In [11]:
#Resampling for dataset imbalance
X, Y = SMOTE().fit_resample(X, Y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1679: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.2, random_state=42)

In [13]:
y_train = pd.get_dummies(y_train)

In [14]:
X.shape

(122444, 184)

In [ ]:
# Declaring Data Class for training dataset
class LoanDefaultDataset(Dataset):
    #Class constructor
    def __init__(self, X, Y):
        self.X = torch.from_numpy(X.to_numpy())
        self.Y = torch.from_numpy(Y.to_numpy())
    
    #Variable Length
    def __len__(self):
        return len(self.Y)

    #Get Item index
    def __getitem__(self, idx):
        label = self.Y[idx]
        data = self.X[idx]
        return data,label

In [ ]:
# Hyperparameters for training 
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
batch_size = 64
input_size = 184
num_classes = 2
learning_rate = 0.001
num_epochs = 100

In [ ]:
# Loading training dataset with dataloader

dataset_tr = LoanDefaultDataset(X_train,y_train)
train_loader = DataLoader(dataset=dataset_tr, batch_size=50, shuffle=True, num_workers=0)

In [ ]:
# Loading testing dataset with dataloader

dataset_te = LoanDefaultDataset(X_test,y_test)
test_loader = DataLoader(dataset=dataset_te, batch_size=50, shuffle=True, num_workers=0)

In [ ]:
# Basic ANN Model 

class NN(nn.Module):
    def __init__(self, input_size, num_classes):
        super(NN, self).__init__()
        self.fc1 = nn.Linear(input_size, 50)
        self.fc2 = nn.Linear(50, 25)
        self.fc3 = nn.Linear(25,num_classes)

    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.fc3(x)
        return x

In [ ]:
#Initializing model and loading it to device

model = NN(input_size=input_size, num_classes=num_classes).to(device)

#Loss Function

criterion = nn.BCEWithLogitsLoss()

#Optimizer

optimizer = optim.Adam(model.parameters(), lr=learning_rate)

In [ ]:
# Running the training loop

for epoch in range(num_epochs):
    print(f"Epoch: {epoch+1}")
    for batch_idx, (data, targets) in enumerate(train_loader):
        # Get data to cuda if possible
        data = data.to(device=device)
        targets = targets.to(device=device)

        # Get to correct shape, 28x28->784
        # -1 will flatten all outer dimensions into one
        data = data.reshape(data.shape[0], -1) 

        # forward propagation
        scores = model(data.float())
        loss = criterion(scores, targets.float())

        # zero previous gradients
        optimizer.zero_grad()
        
        # back-propagation
        loss.backward()

        # gradient descent or adam step
        optimizer.step()
    print(f"Loss at the end of Epoch {epoch+1}: {loss}")

Epoch: 1
Loss at the end of Epoch 1: 0.5015466213226318
Epoch: 2
Loss at the end of Epoch 2: 0.18662385642528534
Epoch: 3
Loss at the end of Epoch 3: 0.4147661328315735
Epoch: 4
Loss at the end of Epoch 4: 0.12102262675762177
Epoch: 5
Loss at the end of Epoch 5: 0.059692323207855225
Epoch: 6
Loss at the end of Epoch 6: 0.3180202841758728
Epoch: 7
Loss at the end of Epoch 7: 0.3003152906894684
Epoch: 8
Loss at the end of Epoch 8: 0.2025870531797409
Epoch: 9
Loss at the end of Epoch 9: 0.20444492995738983
Epoch: 10
Loss at the end of Epoch 10: 0.3070988059043884
Epoch: 11
Loss at the end of Epoch 11: 0.29775527119636536
Epoch: 12
Loss at the end of Epoch 12: 0.34217578172683716
Epoch: 13
Loss at the end of Epoch 13: 0.1919752061367035
Epoch: 14
Loss at the end of Epoch 14: 0.05762786790728569
Epoch: 15
Loss at the end of Epoch 15: 0.1032731756567955
Epoch: 16
Loss at the end of Epoch 16: 0.21386805176734924
Epoch: 17
Loss at the end of Epoch 17: 0.11640539020299911
Epoch: 18
Loss at the end of Epoch 18: 0.6339185237884521
Epoch: 19
Loss at the end of Epoch 19: 0.015836350619792938
Epoch: 20
Loss at the end of Epoch 20: 0.29537850618362427
Epoch: 21
Loss at the end of Epoch 21: 0.33880069851875305
Epoch: 22
Loss at the end of Epoch 22: 0.10304544121026993
Epoch: 23
Loss at the end of Epoch 23: 0.06084024906158447
Epoch: 24
Loss at the end of Epoch 24: 0.20759615302085876
Epoch: 25
Loss at the end of Epoch 25: 0.1124630942940712
Epoch: 26
Loss at the end of Epoch 26: 0.3543010950088501
Epoch: 27
Loss at the end of Epoch 27: 0.1262894570827484
Epoch: 28
Loss at the end of Epoch 28: 0.5495024919509888
Epoch: 29
Loss at the end of Epoch 29: 0.4295116066932678
Epoch: 30
Loss at the end of Epoch 30: 0.7078297734260559
Epoch: 31
Loss at the end of Epoch 31: 0.2446502447128296
Epoch: 32
Loss at the end of Epoch 32: 0.6611278653144836
Epoch: 33
Loss at the end of Epoch 33: 0.5888429880142212
Epoch: 34
Loss at the end of Epoch 34: 0.21338315308094025
Epoch: 35
Loss at the end of Epoch 35: 0.06503637135028839
Epoch: 36
Loss at the end of Epoch 36: 0.03458709269762039
Epoch: 37
Loss at the end of Epoch 37: 0.12219244241714478
Epoch: 38
Loss at the end of Epoch 38: 0.32033771276474
Epoch: 39
Loss at the end of Epoch 39: 0.5942615270614624
Epoch: 40
Loss at the end of Epoch 40: 0.0917433649301529
Epoch: 41
Loss at the end of Epoch 41: 0.5903066396713257
Epoch: 42
Loss at the end of Epoch 42: 0.15247242152690887
Epoch: 43
Loss at the end of Epoch 43: 0.3173016905784607
Epoch: 44
Loss at the end of Epoch 44: 0.2886736989021301
Epoch: 45
Loss at the end of Epoch 45: 0.10786684602499008
Epoch: 46
Loss at the end of Epoch 46: 0.13528333604335785
Epoch: 47
Loss at the end of Epoch 47: 0.28387466073036194
Epoch: 48
Loss at the end of Epoch 48: 0.17678573727607727
Epoch: 49
Loss at the end of Epoch 49: 0.4363931119441986
Epoch: 50
Loss at the end of Epoch 50: 0.5347101092338562
Epoch: 51
Loss at the end of Epoch 51: 0.1691030114889145
Epoch: 52
Loss at the end of Epoch 52: 0.4334241449832916
Epoch: 53
Loss at the end of Epoch 53: 0.40480202436447144
Epoch: 54
Loss at the end of Epoch 54: 0.040612995624542236
Epoch: 55
Loss at the end of Epoch 55: 0.043108019977808
Epoch: 56
Loss at the end of Epoch 56: 0.0373060517013073
Epoch: 57
Loss at the end of Epoch 57: 0.29508519172668457
Epoch: 58
Loss at the end of Epoch 58: 0.09762390702962875
Epoch: 59
Loss at the end of Epoch 59: 0.2926064431667328
Epoch: 60
Loss at the end of Epoch 60: 0.12507110834121704
Epoch: 61
Loss at the end of Epoch 61: 0.1275465488433838
Epoch: 62
Loss at the end of Epoch 62: 0.3063451051712036
Epoch: 63
Loss at the end of Epoch 63: 0.31984302401542664
Epoch: 64
Loss at the end of Epoch 64: 0.4482855796813965
Epoch: 65
Loss at the end of Epoch 65: 0.18848511576652527
Epoch: 66
Loss at the end of Epoch 66: 0.1636819839477539
Epoch: 67
Loss at the end of Epoch 67: 0.037512265145778656
Epoch: 68
Loss at the end of Epoch 68: 0.07908742874860764
Epoch: 69
Loss at the end of Epoch 69: 0.5579253435134888
Epoch: 70
Loss at the end of Epoch 70: 0.038348376750946045
Epoch: 71
Loss at the end of Epoch 71: 0.04600589722394943
Epoch: 72
Loss at the end of Epoch 72: 0.10392668098211288
Epoch: 73
Loss at the end of Epoch 73: 0.659286379814148
Epoch: 74
Loss at the end of Epoch 74: 0.49184292554855347
Epoch: 75
Loss at the end of Epoch 75: 0.049725163727998734
Epoch: 76
Loss at the end of Epoch 76: 0.11187133938074112
Epoch: 77
Loss at the end of Epoch 77: 0.03788018599152565
Epoch: 78
Loss at the end of Epoch 78: 0.3862982392311096
Epoch: 79
Loss at the end of Epoch 79: 0.1860068142414093
Epoch: 80
Loss at the end of Epoch 80: 0.07491546124219894
Epoch: 81
Loss at the end of Epoch 81: 0.17661647498607635
Epoch: 82
Loss at the end of Epoch 82: 0.273578405380249
Epoch: 83
Loss at the end of Epoch 83: 0.08987664431333542
Epoch: 84
Loss at the end of Epoch 84: 0.29017922282218933
Epoch: 85
Loss at the end of Epoch 85: 0.1531175822019577
Epoch: 86
Loss at the end of Epoch 86: 0.2696686387062073
Epoch: 87
Loss at the end of Epoch 87: 0.09005679190158844
Epoch: 88
Loss at the end of Epoch 88: 0.7927279472351074
Epoch: 89
Loss at the end of Epoch 89: 0.1510201096534729
Epoch: 90
Loss at the end of Epoch 90: 0.03120984509587288
Epoch: 91
Loss at the end of Epoch 91: 0.04917733743786812
Epoch: 92
Loss at the end of Epoch 92: 0.18634292483329773
Epoch: 93
Loss at the end of Epoch 93: 0.012590527534484863
Epoch: 94
Loss at the end of Epoch 94: 0.059755392372608185
Epoch: 95
Loss at the end of Epoch 95: 0.23839068412780762
Epoch: 96
Loss at the end of Epoch 96: 0.027034783735871315
Epoch: 97
Loss at the end of Epoch 97: 0.1093098521232605
Epoch: 98
Loss at the end of Epoch 98: 0.19669879972934723
Epoch: 99
Loss at the end of Epoch 99: 0.3174794316291809
Epoch: 100
Loss at the end of Epoch 100: 0.20763854682445526

In [ ]:
# Generating predictions 

preds = model(torch.from_numpy(X_test.to_numpy()).float())
y_pred = [0 if i[0]>i[1] else 1 for i in preds]

In [ ]:
# Accuracy metrics

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.91      0.89     12431
           1       0.90      0.85      0.88     12058

    accuracy                           0.88     24489
   macro avg       0.88      0.88      0.88     24489
weighted avg       0.88      0.88      0.88     24489