In [ ]:
# Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [ ]:
# Handling missing values

missing_values = ["?","-"," ", ""]
df = pd.read_csv("healthcare-dataset-stroke-data.csv", na_values=missing_values)

In [ ]:
# Checking for NA values

df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
# Checking for Unique Values

df.nunique()

id                   5110
gender                  3
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3979
bmi                   418
smoking_status          4
stroke                  2
dtype: int64

In [ ]:
# Dropping identifier variables

df = df.dropna()
df = df.drop(["id"],axis=1)

In [ ]:
# Checking total number of records

len(df)

4909

In [ ]:
# Seperating dependant and independant variables

Y = df['stroke']
len(Y)

4909

In [ ]:
# Removing the independant varible from dependant variable

df = df.drop(['stroke'], axis=1)

In [ ]:
# Seperating continuos variables

conti_var = ["bmi","avg_glucose_level","age"]
conti_df = df[conti_var]
conti_df.head()

    bmi  avg_glucose_level   age
0  36.6             228.69  67.0
2  32.5             105.92  80.0
3  34.4             171.23  49.0
4  24.0             174.12  79.0
5  29.0             186.21  81.0

In [36]:
len(conti_df)

4909

In [ ]:
# Checking for clear high correlation

variables = []
correlation = []
for var1 in conti_var:
    for var2 in conti_var:
        if var1 == var2:
            pass
        else:
            cor_val, _ = spearmanr(conti_df[var1], conti_df[var2])
            print("Correlation between " + var1 + " and " + var2 + "is: ", cor_val)
            if abs(cor_val) > 0.5:
                variables.append({var1,var2})
                correlation.append(cor_val)

print(variables, correlation)

Correlation between bmi and avg_glucose_levelis:  0.11437029781765023
Correlation between bmi and ageis:  0.37564955990962323
Correlation between avg_glucose_level and bmiis:  0.11437029781765025
Correlation between avg_glucose_level and ageis:  0.14080904558032697
Correlation between age and bmiis:  0.3756495599096232
Correlation between age and avg_glucose_levelis:  0.14080904558032695
[] []

In [ ]:
# Seperating categorical variables

cat_var = list(set(df.columns) - set(conti_var))

In [39]:
cat_var

['hypertension',
 'ever_married',
 'Residence_type',
 'smoking_status',
 'heart_disease',
 'work_type',
 'gender']

In [40]:
cat_df = df[cat_var]

In [ ]:
# Checking for clear high correlation 

variables = []
correlation = []
for var1 in cat_var:
    for var2 in cat_var:
        if var1 == var2:
            pass
        else:
            cor_val, _ = spearmanr(cat_df[var1], cat_df[var2])
            print("Correlation between " + var1 + " and " + var2 + "is: ", cor_val)
            if abs(cor_val) > 0.5:
                variables.append({var1,var2})
                correlation.append(cor_val)

Correlation between hypertension and ever_marriedis:  0.16240626040283884
Correlation between hypertension and Residence_typeis:  -0.0010741461750661688
Correlation between hypertension and smoking_statusis:  0.10824293024583871
Correlation between hypertension and heart_diseaseis:  0.11599099148786933
Correlation between hypertension and work_typeis:  -0.03580569389875176
Correlation between hypertension and genderis:  0.021669875718188767
Correlation between ever_married and hypertensionis:  0.16240626040283884
Correlation between ever_married and Residence_typeis:  0.004989171140676837
Correlation between ever_married and smoking_statusis:  0.25824125177832397
Correlation between ever_married and heart_diseaseis:  0.11124512057147098
Correlation between ever_married and work_typeis:  -0.32898598198089946
Correlation between ever_married and genderis:  -0.03692569248470313
Correlation between Residence_type and hypertensionis:  -0.0010741461750661688
Correlation between Residence_type and ever_marriedis:  0.004989171140676837
Correlation between Residence_type and smoking_statusis:  0.013844444203365539
Correlation between Residence_type and heart_diseaseis:  -0.0023617439180356778
Correlation between Residence_type and work_typeis:  -0.002096822221803542
Correlation between Residence_type and genderis:  -0.004769091007379034
Correlation between smoking_status and hypertensionis:  0.10824293024583873
Correlation between smoking_status and ever_marriedis:  0.25824125177832397
Correlation between smoking_status and Residence_typeis:  0.013844444203365539
Correlation between smoking_status and heart_diseaseis:  0.05330757725349453
Correlation between smoking_status and work_typeis:  -0.3062366226947297
Correlation between smoking_status and genderis:  -0.06015793454840106
Correlation between heart_disease and hypertensionis:  0.11599099148786932
Correlation between heart_disease and ever_marriedis:  0.11124512057147098
Correlation between heart_disease and Residence_typeis:  -0.002361743918035678
Correlation between heart_disease and smoking_statusis:  0.05330757725349453
Correlation between heart_disease and work_typeis:  -0.01918171937256394
Correlation between heart_disease and genderis:  0.08282059211090254
Correlation between work_type and hypertensionis:  -0.03580569389875176
Correlation between work_type and ever_marriedis:  -0.32898598198089946
Correlation between work_type and Residence_typeis:  -0.0020968222218035425
Correlation between work_type and smoking_statusis:  -0.3062366226947297
Correlation between work_type and heart_diseaseis:  -0.019181719372563938
Correlation between work_type and genderis:  0.05680343997801622
Correlation between gender and hypertensionis:  0.02166987571818877
Correlation between gender and ever_marriedis:  -0.03692569248470313
Correlation between gender and Residence_typeis:  -0.004769091007379034
Correlation between gender and smoking_statusis:  -0.060157934548401064
Correlation between gender and heart_diseaseis:  0.08282059211090254
Correlation between gender and work_typeis:  0.05680343997801622

In [ ]:
#printing all significant correlations

print(variables, correlation)

[] []

In [ ]:
# Onehot Encoding for categorical variables

cat_df = pd.get_dummies(cat_df)
cat_df.head()

,hypertension,heart_disease,ever_married_No,ever_married_Yes,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,gender_Female,gender_Male,gender_Other
0,0,1,0,1,0,1,0,1,0,0,0,0,1,0,0,0,1,0
2,0,1,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1,0
3,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0
4,1,0,0,1,1,0,0,0,1,0,0,0,0,1,0,1,0,0
5,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,1,0

In [44]:
len(cat_df)

4909

In [ ]:
# Applying standard scaling to continuos variables

scaler = StandardScaler()
conti_df = scaler.fit_transform(conti_df)
conti_df = pd.DataFrame(conti_df)

In [46]:
len(conti_df)

4909

In [ ]:
# Creating final training data 

conti_df = np.array(conti_df)
cat_df = np.array(cat_df)

X = np.hstack((cat_df,conti_df))

In [48]:
len(X)

4909

In [ ]:
X = pd.DataFrame(X)

In [ ]:
# Training with a Decision Tree classifier

clf = DecisionTreeClassifier(random_state=1)
cross_val = cross_val_score(clf, X, Y, cv=100)

In [ ]:
# Getting accuarcy metrics

average_cross_val = cross_val.sum()/(len(cross_val)+1)
accuracy = round(average_cross_val, 3)*100

In [57]:
print("Model Accuracy is: " + str(accuracy) + "%")

Model Accuracy is: 90.3%